.ua_cookie-banner__container {
    position: fixed;
    z-index: 5000;
    bottom: 0;
    width: 100%;

    background: #9e1b32;
    border-top: 3px solid #ffffff;
    color: #ffffff;
    font: 1rem/1.5rem proxima-nova, sans-serif;
    box-sizing: border-box;
    padding: 0 2rem;
}

.ua_cookie-banner__container[hidden] {
    display: none;
}

.ua_cookie-banner__content {
    max-width: 87.5rem;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.ua_cookie-banner__content p {
    margin-right: 2rem;
}

.ua_cookie-banner__content p a {
    color: #ffffff;
}

.ua_cookie-banner__content button {
    min-width: 12em;
    margin: 1em 0;
    padding: 6px 12px;

    border: 1px solid #9e1b32;
    border-radius: 0;
    background: #ffffff;
    color: #9e1b32;
    font: 1.25rem/2rem proxima-nova, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.ua_cookie-banner__content button:hover,
.ua_cookie-banner__content button:active,
.ua_cookie-banner__content button:focus {
    background: #f2f3f4;
    cursor: pointer;
}

@media (min-width: 600px) {
    .ua_cookie-banner__content {
        display: flex;
    }
}
