/* =================================================================
/* University of Alabama
/* Minerva 1.7.0
================================================================= */
@import 'https://use.typekit.net/ivh1kiq.css';
/* ==================================================================
  * SECTION Tokens
================================================================== */
:root {
  --ua_color-text--default: #35363b;
  --ua_color-text--alt: #4a4c54;
  --ua_color-text--subtle: #757c88;
  --ua_color-text--accent: #9e1b32;
  --ua_color-text--link: #9e1b32;
  --ua_color-text--link-hover: #70202C;
  --ua_color-text--positive: #194B1F;
  --ua_color-text--negative: #723900;
  --ua_color-text--info: #012A4C;
  --ua_color-background--surface: #ffffff;
  --ua_color-background--element: #f2f3f4;
  --ua_color-background--chip: #dfe2e5;
  --ua_color-background--info: #E8F2FC;
  --ua_color-background--negative: #FAF4E6;
  --ua_color-background--positive: #f0f5ef;
  --ua_color-accent--neutral: #757c88;
  --ua_color-accent--primary: #9e1b32;
  --ua_color-accent--info: #0070DD;
  --ua_color-accent--negative: #DC8E0E;
  --ua_color-accent--positive: #39A845;
  --ua_color-accent--link: #9e1b32;
  --ua_color-icon--duotone-primary: #70202C;
  --ua_color-icon--duotone-secondary: #E5425E;
  --ua_space--1: 0.5rem;
  --ua_space--2: 1rem;
  --ua_space--4: 2rem;
  --ua_space--8: 4rem;
  --ua_space--16: 8rem;
  --ua_space--05: 0.25rem;
  --ua_space--block-padding: 2rem;
  --ua_space--inline-padding: 0.1em 0.3em;
  --ua_space--inline-block-padding: 0.25em 0.75em;
  --ua_space--flow: 2rem;
  --ua_space--section: 4rem;
  --ua_space--gutter: 1rem;
  --ua_space--grid-gap: 2rem;
  --ua_space--flex-gap: 1rem;
  --ua_space--flow-half: calc(var(--ua_space--flow, 2rem) / 2);
  --ua_space--flow-double: calc(var(--ua_space--flow, 2rem) * 2);
  --ua_layout-width--content: 58rem;
  --ua_layout-width--sidebar: 18rem;
  --ua_layout-width--wide: calc(var(--ua_layout-width--content, 58rem) + var(--ua_layout-width--sidebar, 18rem) + var(--ua_space--gutter, 1rem));
  --ua_border--standard: 1px solid var(--ua_color-background--chip, #dfe2e5);
  --ua_border--divider: 2px solid var(--ua_color-background--chip, #dfe2e5);
  --ua_border--accent: 5px solid var(--ua_color-accent--neutral, #757c88);
  --ua_border--outline: 1px solid var(--ua_color-accent--neutral, #757c88);
  --ua_font--heading: proxima-nova, sans-serif;
  --ua_font--body: proxima-nova, sans-serif;
  --ua_font--accent: proxima-nova-condensed, sans-serif;
  --ua_font--mono: monospace;
  --ua_font--icon: "Font Awesome 6 Pro";
  --ua_font--icon-brands: "Font Awesome 6 Brands";
  --ua_font--icon-duo: "Font Awesome 6 Duotone";
  --ua_weight--thin: 100;
  --ua_weight--light: 300;
  --ua_weight--regular: 400;
  --ua_weight--medium: 500;
  --ua_weight--semibold: 600;
  --ua_weight--bold: 700;
  --ua_weight--extrabold: 800;
  --ua_weight--black: 900;
  --ua_font-size--xsmall: 0.75rem;
  --ua_font-size--small: 1rem;
  --ua_font-size--normal: 1.25rem;
  --ua_font-size--medium: 1.5rem;
  --ua_font-size--large: 1.75rem;
  --ua_font-size--xlarge: 2rem;
  --ua_font-size--xxlarge: 2.25rem;
  --ua_line-height--xsmall: 1rem;
  --ua_line-height--small: 1.5rem;
  --ua_line-height--normal: 2rem;
  --ua_line-height--medium: 2rem;
  --ua_line-height--large: 2.25rem;
  --ua_line-height--xlarge: 2.5rem;
  --ua_line-height--xxlarge: 2.5rem;
  --ua_border-radius--none: 0;
  --ua_border-radius--small: 0.25rem;
  --ua_border-radius--medium: 0.5rem;
  --ua_border-radius--large: 1rem;
  --ua_border-radius--full: 9999px;
  --ua_shadow--small: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  --ua_shadow--medium: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --ua_shadow--large: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.1);
}

@media (min-width: 30rem) {
  :root {
    --ua_font-size--large: 2rem;
    --ua_font-size--xlarge: 2.5rem;
    --ua_font-size--xxlarge: 3rem;
    --ua_line-height--large: 2.5rem;
    --ua_line-height--xlarge: 3rem;
    --ua_line-height--xxlarge: 3rem;
  }
}
@media (min-width: 77rem) {
  :root {
    --ua_space--section: var(--ua_space--16, 8rem);
    --ua_font-size--large: 2.25rem;
    --ua_font-size--xlarge: 3rem;
    --ua_font-size--xxlarge: 4.5rem;
    --ua_line-height--large: 2.75rem;
    --ua_line-height--xlarge: 3.5rem;
    --ua_line-height--xxlarge: 4.5rem;
  }
}
.ua_minerva .ua_contrast--more, .ua_minerva .wp-block-group.is-style-elevated,
.ua_minerva .wp-block-columns.is-style-elevated,
.ua_minerva .wp-block-media-text.is-style-elevated {
  --ua_color-text--subtle: #5f646d;
  --ua_color-background--surface: #f2f3f4;
  --ua_color-background--element: #dfe2e5;
  --ua_color-background--chip: #c6cbd0;
  --ua_color-background--info: #CEE4F9;
  --ua_color-background--negative: #F9E9C1;
  --ua_color-background--positive: #CDE9D3;
  color: var(--ua_color-text--default, #35363b);
  background-color: var(--ua_color-background--surface, #ffffff);
}

.ua_minerva .ua_contrast--most, .ua_minerva .wp-block-group.is-style-prominent,
.ua_minerva .wp-block-columns.is-style-prominent,
.ua_minerva .wp-block-media-text.is-style-prominent,
.ua_minerva .wp-block-cover:not(.is-light):has(> .wp-block-cover__background:not(.has-white-background-color)),
.ua_minerva .wp-block-cover:has(> .has-black-background-color) {
  --ua_color-text--default: #ffffff;
  --ua_color-text--alt: #f2f3f4;
  --ua_color-text--subtle: #9097A0;
  --ua_color-text--accent: #c6cbd0;
  --ua_color-text--link: #ffffff;
  --ua_color-text--link-hover: #dfe2e5;
  --ua_color-text--positive: #CDE9D3;
  --ua_color-text--negative: #F9E9C1;
  --ua_color-text--info: #CEE4F9;
  --ua_color-background--surface: #35363b;
  --ua_color-background--element: #212124;
  --ua_color-background--chip: #4a4c54;
  --ua_color-background--info: #021B30;
  --ua_color-background--negative: #452000;
  --ua_color-background--positive: #103514;
  --ua_color-accent--neutral: #9097A0;
  --ua_color-accent--primary: #BE3047;
  --ua_color-accent--info: #258BeF;
  --ua_color-accent--negative: #ECA024;
  --ua_color-accent--positive: #64C480;
  --ua_color-accent--link: #E5425E;
  --ua_color-icon--duotone-primary: #E5425E;
  --ua_color-icon--duotone-secondary: #dfe2e5;
  color: var(--ua_color-text--default, #35363b);
  background-color: var(--ua_color-background--surface, #ffffff);
}

.ua_minerva.ua_color-mode--dark {
  --ua_color-text--default: #f2f3f4;
  --ua_color-text--alt: #dfe2e5;
  --ua_color-text--subtle: #9097A0;
  --ua_color-text--accent: #E5425E;
  --ua_color-text--link: #ffffff;
  --ua_color-text--link-hover: #dfe2e5;
  --ua_color-text--positive: #CDE9D3;
  --ua_color-text--negative: #F9E9C1;
  --ua_color-text--info: #CEE4F9;
  --ua_color-background--surface: #212124;
  --ua_color-background--element: #35363b;
  --ua_color-background--chip: #4a4c54;
  --ua_color-background--info: #021B30;
  --ua_color-background--negative: #452000;
  --ua_color-background--positive: #103514;
  --ua_color-accent--neutral: #9097A0;
  --ua_color-accent--primary: #BE3047;
  --ua_color-accent--info: #258BeF;
  --ua_color-accent--negative: #ECA024;
  --ua_color-accent--positive: #64C480;
  --ua_color-accent--link: #E5425E;
  --ua_color-icon--duotone-primary: #E5425E;
  --ua_color-icon--duotone-secondary: #dfe2e5;
  color: var(--ua_color-text--default, #35363b);
  background-color: var(--ua_color-background--surface, #ffffff);
}

.ua_minerva.ua_color-mode--dark .ua_contrast--more, .ua_minerva.ua_color-mode--dark .wp-block-group.is-style-elevated,
.ua_minerva.ua_color-mode--dark .wp-block-columns.is-style-elevated,
.ua_minerva.ua_color-mode--dark .wp-block-media-text.is-style-elevated {
  --ua_color-text--default: #ffffff;
  --ua_color-text--subtle: #ACB2BA;
  --ua_color-text--accent: #c6cbd0;
  --ua_color-text--link-hover: #f2f3f4;
  --ua_color-background--surface: #35363b;
  --ua_color-background--element: #4a4c54;
  --ua_color-background--chip: #5f646d;
  --ua_color-background--info: #012A4C;
  --ua_color-background--negative: #723900;
  --ua_color-background--positive: #194B1F;
  color: var(--ua_color-text--default, #35363b);
  background-color: var(--ua_color-background--surface, #ffffff);
}

.ua_minerva.ua_color-mode--dark .ua_contrast--most, .ua_minerva.ua_color-mode--dark .wp-block-group.is-style-prominent,
.ua_minerva.ua_color-mode--dark .wp-block-columns.is-style-prominent,
.ua_minerva.ua_color-mode--dark .wp-block-media-text.is-style-prominent,
.ua_minerva.ua_color-mode--dark .wp-block-cover:not(.is-light):has(> .wp-block-cover__background:not(.has-white-background-color)),
.ua_minerva.ua_color-mode--dark .wp-block-cover:has(> .has-black-background-color) {
  --ua_color-text--default: #35363b;
  --ua_color-text--alt: #4a4c54;
  --ua_color-text--subtle: #757c88;
  --ua_color-text--accent: #9e1b32;
  --ua_color-text--link: #9e1b32;
  --ua_color-text--link-hover: #70202C;
  --ua_color-text--positive: #194B1F;
  --ua_color-text--negative: #723900;
  --ua_color-text--info: #012A4C;
  --ua_color-background--surface: #dfe2e5;
  --ua_color-background--element: #c6cbd0;
  --ua_color-background--chip: #ACB2BA;
  --ua_color-background--info: #93C4F4;
  --ua_color-background--negative: #F7D090;
  --ua_color-background--positive: #AADDB7;
  --ua_color-accent--neutral: #757c88;
  --ua_color-accent--primary: #9e1b32;
  --ua_color-accent--info: #0070DD;
  --ua_color-accent--negative: #DC8E0E;
  --ua_color-accent--positive: #39A845;
  --ua_color-accent--link: #9e1b32;
  --ua_color-icon--duotone-primary: #70202C;
  --ua_color-icon--duotone-secondary: #E5425E;
  color: var(--ua_color-text--default, #35363b);
  background-color: var(--ua_color-background--surface, #ffffff);
}

/* !SECTION Tokens */
/* ==============================
/* SECTION Extend Color Contexts
============================== */
.wp-block-cover,
.wp-block-cover__inner-container {
  color: var(--ua_color-text--default, #35363b);
}

* + .wp-block-cover, * + .wp-block-group.is-style-prominent,
* + .wp-block-group.is-style-elevated,
* + .wp-block-columns.is-style-elevated,
* + .wp-block-columns.is-style-prominent,
* + .wp-block-media-text.is-style-elevated,
* + .wp-block-media-text.is-style-prominent,
.wp-block-cover + *,
.wp-block-group.is-style-prominent + *,
.wp-block-group.is-style-elevated + *,
.wp-block-columns.is-style-elevated + *,
.wp-block-columns.is-style-prominent + *,
.wp-block-media-text.is-style-elevated + *,
.wp-block-media-text.is-style-prominent + * {
  margin-block-start: var(--ua_space--section, 4rem);
}

.wp-block-group.is-style-prominent,
.wp-block-group.is-style-elevated,
.wp-block-columns.is-style-elevated,
.wp-block-columns.is-style-prominent,
.wp-block-media-text.is-style-elevated,
.wp-block-media-text.is-style-prominent {
  padding-block: var(--ua_space--section, 4rem);
  background: var(--ua_color-background--surface, #ffffff);
}

.wp-block-cover {
  padding-block: var(--ua_space--section, 4rem);
  background-color: var(--ua_color-background--surface, #ffffff);
}

/* !SECTION Extend Color Contexts */
